N8N/AI_assistant.json
{
    "nodes": [
        {
            "parameters": {
                "updates": [
                    "messages"
                ],
                "options": {}
            },
            "type": "n8n-nodes-base.whatsAppTrigger",
            "typeVersion": 1,
            "position": [
                -704,
                -32
            ],
            "id": "3133aba1-fac6-41d5-a0e1-1062c80ee3d9",
            "name": "WhatsApp Trigger",
            "webhookId": "060c5877-c5fd-43ca-abf9-024abfb444d2",
            "credentials": {
                "whatsAppTriggerApi": {
                    "id": "08Je5zsqAa73iSy3",
                    "name": "WhatsApp OAuth account 2"
                }
            }
        },
        {
            "parameters": {
                "tableId": "historico_mensagem",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "who_sent",
                            "fieldValue": "client"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -288,
                -16
            ],
            "id": "4c4aac53-262e-45e2-9a33-35e9d9e217e4",
            "name": "Create a row1",
            "credentials": {
                "supabaseApi": {
                    "id": "syIe6zIhBjy5kaZT",
                    "name": "Supabase account 2"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 3
                    },
                    "conditions": [
                        {
                            "id": "6748fc21-0090-4edb-a3f1-8b423f113a19",
                            "leftValue": "={{ $json.statuses[0].status }}",
                            "rightValue": "sent",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        },
                        {
                            "id": "7e1c1ebc-0546-419c-b2e5-785f99d6665e",
                            "leftValue": "={{ $json.statuses[0].status }}",
                            "rightValue": "=delivered",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        },
                        {
                            "id": "25f63084-6fc7-49b1-9c71-5f46090423c1",
                            "leftValue": "={{ $json.statuses[0].status }}",
                            "rightValue": "read",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "or"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                -496,
                -32
            ],
            "id": "08bce5be-1860-4769-964a-29525f980c59",
            "name": "If1"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
                "options": {
                    "systemMessage": "Você é um assistente de Daniel Cordazzo "
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                -80,
                -16
            ],
            "id": "024ca612-d888-4c91-94d0-1ccb97ae63ff",
            "name": "AI Agent"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "gpt-4o-mini",
                    "mode": "list",
                    "cachedResultName": "gpt-4o-mini"
                },
                "builtInTools": {},
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.3,
            "position": [
                -80,
                176
            ],
            "id": "0378640c-a6fa-4d7e-abb4-d8634a1cc54d",
            "name": "OpenAI Chat Model",
            "credentials": {
                "openAiApi": {
                    "id": "xA08SySaoxQTP15c",
                    "name": "OpenAi account 2"
                }
            }
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].from_user_id }}"
            },
            "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
            "typeVersion": 1.3,
            "position": [
                16,
                176
            ],
            "id": "b623bd4e-ae61-48e6-9797-45761d367845",
            "name": "Postgres Chat Memory",
            "credentials": {
                "postgres": {
                    "id": "Wn54WYwUwt2xGEhA",
                    "name": "Postgres account 2"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://graph.facebook.com/v23.0/<META_PHONE_NUMBER_ID>/messages",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpBearerAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": []
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('If1').item.json.contacts[0].wa_id }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $json.output }}\"\n  }\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                240,
                -16
            ],
            "id": "b5a5c34f-f97b-489f-85ec-c79fa4e92a3c",
            "name": "HTTP Request",
            "credentials": {
                "httpBearerAuth": {
                    "id": "l8YJeVHDMK3FvSop",
                    "name": "Bearer Auth account"
                }
            }
        },
        {
            "parameters": {
                "tableId": "historico_mensagem",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "who_sent",
                            "fieldValue": "bot"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                480,
                -16
            ],
            "id": "3031a0cb-362e-47e3-9a8b-50bb02807132",
            "name": "Create a row2",
            "credentials": {
                "supabaseApi": {
                    "id": "syIe6zIhBjy5kaZT",
                    "name": "Supabase account 2"
                }
            }
        }
    ],
    "connections": {
        "WhatsApp Trigger": {
            "main": [
                [
                    {
                        "node": "If1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create a row1": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If1": {
            "main": [
                [],
                [
                    {
                        "node": "Create a row1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "HTTP Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Postgres Chat Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request": {
            "main": [
                [
                    {
                        "node": "Create a row2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "5c0026289730fdeff064fe0526e284ee9d4d60b440a56f65e3792e38554d3ecb"
    }
}